@media screen and (min-width: 1150px) {

}

@media screen and (max-width: 1149px) and (min-width: 820px) {
    .section-2__header__container {
        margin-left: 15px;
    }

    .section-2__card {
        margin-bottom: 15px;
    }

    .section__content__container--2 {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .section-4-5__card {
        align-self: center;
    }

    .section-6__card {
        flex-direction: column;
        align-items: center;

        padding: 15px;
        width: auto;

        opacity: 0.7;
    }

    .section-6__content__container {
        width: auto;
    }
}

@media screen and (max-width: 819px){

    .res-text--small {
        font-size: 12px;
    }

    .res-text--medium {
        font-size: 18px;
    }

    .res-text--semi-large {
        font-size: 24px;
    }

    .res-text--large {
        font-size: 32px;
    }

    .nav__list {
        display: none;
    }

    .nav__menu__icon {
        display: block;
    }

    .section__content__container {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .section-2 {

        &__card {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            margin-right: 15px;
            margin-left: 15px;
        }

        &__img {
            max-width: 290px;
            &--translate-left {
                transform: translateX(0px);
            }
        }

        &__header__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__btn {
            align-self: center;
        }
    }

    .search {

        &__input {
            font-size: 8px;
        }

        &__container {
                width: 290px;
                height: 42px;

                margin-right: 15px;
                margin-left: 15px;
        }

        &__label {
            justify-content: flex-start;

            min-width: 56px;

            &__text {
                font-size: 8px;
                letter-spacing: normal;
                margin: 0px;
            }
        }

        &__mag-glass {
            display: none;
        }
    }

    .section-4-5 {
        &__card {

            margin-right: 15px;
            margin-left: 15px;
            
            max-width: 290px;

            align-self: center;
        }

        &__small-header {
            align-self: center;
        }  
        
        &__large-header {
            align-self: center;
        }

        &__text {
            text-align: center;
        }
    }

    .section-6 {

        min-height: auto;

        &__header {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        &__content__icon {
            display: none;
        }

        &__card {
            flex-direction: column;
            align-items: center;
    
            padding: 15px;
            width: auto;
    
            opacity: 0.7;

            margin-bottom: 25px;
        }
    
        &__content__container {
            max-width: 290px;
            margin-right: 15px;
            margin-left: 15px;
        }

        &__img {
            max-width: 290px;
            margin-right: 15px;
            margin-left: 15px;
        }
    }
}