@media screen and (min-width: 1150px) {

}

@media screen and (max-width: 1149px) and (min-width: 820px) {
    .section-2__header__container {
        margin-left: 15px;
    }

    .section-2__card {
        margin-bottom: 15px;
    }

    .section__content__container--2 {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .section-4-5__card {
        align-self: center;
    }

    .section-6__card {
        flex-direction: column;
        align-items: center;

        padding: 15px;
        width: auto;

        opacity: 0.7;
    }

    .section-6__content__container {
        width: auto;
    }
}

@media screen and (max-width: 819px){
    .nav__list {
        display: none;
    }
}