@use 'fonts';

.center-on-screen {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background: fonts.$bg-color;
}

.section {
    max-width: 1770px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__background {
        background-repeat: no-repeat;
        background-position: center;
    }

    &__content__container {

        max-width: 1112px;
        width: 100%;

        &--1 {
            display: flex;
            flex-direction: column; 
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
        }

        &--2 {
            display: flex;
            justify-content: space-between;
        }

        &--4-5 {
            display: flex;
            flex-direction: column;
        }
    }

    &-1 {
        background: url(../images/background-images/mountain-top-BG.png);
        min-height: 820px;

        &__header {
            font-family: fonts.$header-font;
            font-size: 48px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 4.800000190734863px;
            text-align: center;

            color: fonts.$text-color;

            &__title-text {
                font-family: fonts.$header-font;
                font-size: 22px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 6.820000171661377px;
                text-align: center;

                color: fonts.$text-color;
            }
        }
    }

    &-2 {
        background: url(../images/background-images/eu-city-BG.png);
        min-height: 685px;

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &__header {
            font-family: fonts.$main-font;
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 26px;

            display: flex;
            align-items: center;

            color: #FFFFFF;

            &__container {
                align-self: flex-end;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                
                max-width: 560px;
                height: 507px;
            }
        }

        &__btn {
            font-family: fonts.$main-font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;

            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 1.2px;
            text-transform: uppercase;

            color: #FFFFFF;

            background-color: fonts.$style-color;

            width: 228px;
            height: 63px;

            &:hover {
                transform: scale(1.1);
            }
            &__text {
                position: absolute;
            }

            &__decor {
                margin-right: auto;
            }
        }
        
        &__img {
            margin-top: 10px;

            &--translate-left {
                transform: translateX(-90px);
            }
        }
    }

    &-3 {
        &__img {
            width: 100%;
        }
    }

    &-4 {
        background: url(../images/background-images/designer-house-BG.png);
        min-height: 700px;

        &-5 {
            &__card {
                display: flex;
                flex-direction: column;

                background: #232323;
                mix-blend-mode: normal;
                opacity: 0.9;

                padding: 32px;
    
                max-width: 543px;
                max-height: 374px;
                width: 100vh;
                height: 100vh;
            }

            &__small-header {
                font-family: fonts.$header-font;
                font-size: 20px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 1.5px;
                text-align: left;

                color: fonts.$text-color;
            }

            &__large-header {
                font-family: fonts.$header-font;
                font-size: 20px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: left;

                color: fonts.$text-color;
            }

            &__text {
                font-family: fonts.$header-font;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: left;        
                
                color: fonts.$text-color;
            }
        }
    }

    &-5 {
        background: url(../images/background-images/cliff-bg.png);
        min-height: 700px;

        &__card--align-right {
            align-self: flex-end;
        }
    }

    &-6 {
        background: url(../images/background-images/summit-BG.png);
        min-height: 731px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__header {
            font-family: fonts.$main-font;
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 26px;

            /* identical to box height, or 72% */
            display: flex;
            align-items: center;
            text-align: center;

            color: #FFFFFF;

            margin-bottom: 91px;
        }

        &__card {
            display: flex;

            width: 1110px;

            background-color: fonts.$bg-color;
        }

        &__content {

            &__container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                width: 100%;
            }

            &__header {
                font-family: fonts.$header-font;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                
                /* identical to box height, or 130% */
                display: flex;
                align-items: center;
                text-transform: uppercase;
                
                color: #FEFEFE;      
                align-self: baseline;    
                
                margin-bottom: 0px;
            }

            &__icon {
                width: 48px;
                height: 48px;

                color: fonts.$style-color;
            }
            
            &__text {

                max-width: 581px;
                font-family: fonts.$header-font;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: left;

                color: fonts.$text-color;

                margin-top: 0px;

                &__container {
                    align-self: flex-end;
                }
            }
        }
    }
}

