.section {
    max-width: 1773px;
    min-height: 820px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1112px;
        min-height: 820px;
        width: 100%;
    }

    &-1 {
        background: url(../images/background-images/mountain-top-BG.png);
    }
}